{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "target": "es2016",
    "loose": false,
    "minify": {
      "compress": true,
      "mangle": true
    },
    "transform": {
      "legacyDecorator": false,
      "decoratorMetadata": false
    },
    // type alias
    "baseUrl": "./src",
    "paths": {
      "@/*": ["./*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": false,
  "exclude": ["node_modules", "dist", "./**/*.js"]
}
